{{#if isFormDisplayed}}
  {{#md-modal close=toggleForm isFooterFixed=true}}
    <div class="modal-content">
      <h5>
        {{t 'project.newPost.heading' hashtag=project.hashtag}}
      </h5>

      {{#x-droplet message=message
                   projectId=project.id
                   sending=sending
                   didSendForm=(action "didSendForm")}}
      {{/x-droplet}}

      {{md-input value=message label=(t 'project.newPost.message') class="col s12" validate=true}}
    </div>

    <div class="modal-footer">
      <a class="new-post-send" {{action "sendForm"}}>
        {{t 'project.newPost.send'}}
      </a>
      <a class="new-post-cancel" {{action toggleForm}}>
        {{t 'project.newPost.cancel'}}
      </a>
    </div>
  {{/md-modal}}
{{/if}}
