<div class="row">
  <div class="col s6">
    {{#link-to "projects"}}
      {{fa-icon icon="fa-chevron-left"}}
      {{t "project.allProjects"}}
    {{/link-to}}
  </div>

  <div class="col s6 right-align">
    <a href="https://twitter.com/search?q=%23{{model.hashtag}}&src=typd">
      {{fa-icon icon="fa-twitter"}}
      #{{model.hashtag}}
    </a>
  </div>
</div>

<h2 class="project-heading">
  {{~ model.name ~}}
</h2>

<p class="project-gps">
  {{gps-chip model=model}}
</p>

<p class="project-description">
  {{~ md-text text=model.description ~}}
</p>

<div class="row project-posts">
  {{#photo-swipe items=posts as |elm|}}
    <div class="col s6 m4 l3">
      {{x-post post=elm}}
    </div>
  {{/photo-swipe}}
</div>

{{#md-fixed-btns class="fixed-btns-example click-to-toggle"
              	 btnIcon="mdi-content-add"
      	         action="newPost"
	               btnClass="btn-large red"}}
{{/md-fixed-btns}}

{{#if isFormDisplayed}}
  {{#md-modal close='closeModal' class="test-modal"}}
    <div class="modal-content">
      <h4>{{t 'project.newPost.heading'}}</h4>
      {{md-textarea label=(t 'project.newPost.body')
                    value=message}}

      --
      {{#x-droplet}}moo{{/x-droplet}}
      --
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>
        Done!
      </a>
      <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>
        Cancel
      </a>
    </div>
  {{/md-modal}}
{{/if}}
