{{title "TajmLapster" prepend=true separator=" | "}}

{{#md-navbar name=(t "menu.name") class='navbar'}}
  {{#link-to "index" tagName="li"}}
    {{#link-to "index"}}
      {{t "menu.home"}}
    {{/link-to}}
  {{/link-to}}

  {{#link-to "projects" tagName="li"}}
    {{#link-to "projects"}}
      {{t "menu.projects"}}
    {{/link-to}}
  {{/link-to}}

  {{#link-to "contact" tagName="li"}}
    {{#link-to "contact"}}
      {{t "menu.contact"}}
    {{/link-to}}
  {{/link-to}}

  {{#link-to "timelapsters" tagName="li"}}
    {{#link-to "timelapsters"}}
      {{t "menu.timelapsters"}}
    {{/link-to}}
  {{/link-to}}

  {{#link-to "about" tagName="li"}}
    {{#link-to "about"}}
      {{t "menu.about"}}
    {{/link-to}}
  {{/link-to}}
{{/md-navbar}}

<div class="{{if isFullScreen 'application-fullscreen' 'application-container'}}">
  {{outlet}}
</div>

<footer class='page-footer'>
  {{#md-copyright text='Copyright Text' startYear=2016 class='copyright'}}
  {{/md-copyright}}
</footer>
