<br />

<div class="row">
  <div class="col s6">
    {{#link-to "projects"}}
      {{fa-icon icon="fa-chevron-left"}}
      {{t "project.allProjects"}}
    {{/link-to}}
  </div>

  <div class="col s6 right-align">
    <a href="https://twitter.com/search?q=%23{{model.hashtag}}&src=typd">
      {{fa-icon icon="fa-twitter"}}
      #{{model.hashtag}}
    </a>
  </div>
</div>


<h2 class="project-heading">
  {{~ model.name ~}}
</h2>

{{md-tabs
    content=tabs
    selected=selectedTab}}

{{#if showMap}}
  {{#s-map latitude=49.8 longitude=15.5 zoom=7 as |map|}}
    {{#s-map-layer map=map as |layer|}}
      {{s-map-marker layer=layer latitude=model.latitude longitude=model.longitude}}
    {{/s-map-layer}}
  {{/s-map}}
{{/if}}

{{#if showDescription}}
  <p class="project-description">
    {{~ md-text text=model.description ~}}
  </p>
{{/if}}

<div class="row">
  {{#photo-swipe items=photosSorted as |elm|}}
    <div class="col s6 m4 l3">
      {{x-post post=elm}}
    </div>
  {{/photo-swipe}}
</div>

<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large red">
    <i class="large mdi-content-add"></i>
  </a>
  <ul>
    <li>
      <a href="mailto:casosberne@gmail.com?subject=#{{model.hashtag}}" class="btn-floating red">
        {{fa-icon icon="envelope"}}
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?hashtags={{model.hashtag}}" class="btn-floating blue">
        {{fa-icon icon="twitter"}}
      </a>
    </li>
  </ul>
</div>
