{{#md-card title=(t "index.heading") id="basic-card"}}
  {{#md-card-content}}
    {{t "index.message"}}
  {{/md-card-content}}
  {{#md-card-action}}
    {{#link-to "projects"}}
      {{t "index.goToProjects"}}
      {{fa-icon "fa-chevron-right"}}
    {{/link-to}}
  {{/md-card-action}}
{{/md-card}}

<div class="row">
  <div class="col s12 m4">
    {{#md-card-panel class="teal" bodyClass="white-text"}}
      <h5>
        {{#fa-stack}}
          {{fa-icon "fa-square-o" stack=2}}
          {{fa-icon "fa-camera" stack=1}}
        {{/fa-stack}}
        {{t "index.1.heading"}}
      </h5>

      <p>
        {{t "index.1.message"}}
      </p>
    {{/md-card-panel}}
  </div>

  <div class="col s12 m4">
    {{#md-card-panel class="teal" bodyClass="white-text"}}
      <h5>
        {{#fa-stack}}
          {{fa-icon "fa-square-o" stack=2}}
          {{fa-icon "fa-twitter" stack=1}}
        {{/fa-stack}}
        {{t "index.2.heading"}}
      </h5>

      <p>
        {{t "index.2.message"}}
      </p>
    {{/md-card-panel}}
  </div>

  <div class="col s12 m4">
    {{#md-card-panel class="teal" bodyClass="white-text"}}
      <h5>
        {{#fa-stack}}
          {{fa-icon "fa-square-o" stack=2}}
          {{fa-icon "fa-eye" stack=1}}
        {{/fa-stack}}
        {{t "index.3.heading"}}
      </h5>

      <p>
        {{t "index.3.message"}}
      </p>
    {{/md-card-panel}}
  </div>
</div>
