<div class="jumbotron">
  <h1 class="display-3">{{{t 'index.heading'}}}</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>{{t 'index.1.heading'}}</h2>
    <p>{{t 'index.1.message'}}</p>
  </div>
  <div class="col-md-4">
    <h2>{{t 'index.2.heading'}}</h2>
    <p>{{t 'index.2.message'}}</p>
  </div>
  <div class="col-md-4">
    <h2>{{t 'index.3.heading'}}</h2>
    <p>{{t 'index.3.message'}}</p>
  </div>
</div>
